<!-- Hero Section -->
<section class="p-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1 class="f60">Navigating the digital landscape for success</h1>
                <p class="f20">Our digital marketing agency helps businesses grow and succeed online through a range of services including SEO, PPC, social media marketing, and content creation.</p>
                <button class="btn spaceGnormal cncDarkFont primarydarkbtn f20">Book a consultation</button>
            </div>
            <div class="col-6 text-center">
                <img src="assets/Images/hero_left.png" alt="hero_left">
            </div>
        </div>
    </div>
</section>
<!-- Hero Section -->

<!-- Togther We Solve your Technology Chalanges -->
<section class="mt-5">
    <div class="container">
        <header>
            <span class="f30 sectionHeaders rounded-3 cncWhiteFont spaceGmedium">TOGETHER WE GROW</span>
        </header>
        <div class="row mt-md-5">
            <div class="col-md-6">
                <h2 class="f40 spaceGmedium">You tell Us Your Technoligical Problem</h2>
                <p class="f20 spaceGmedium cncGrayFont py-3">With a team of 600+ and 14 years experience by your side, we turn ideas into successful digital solutions to solve challenges and drive efficiency, scalability and resilience in your business.</p>
                <a href=""></a>
            </div>
            <div class="col-md-6">
                <div class="col-xl-6">
                    <img src="https://www.codeclouds.com/_next/image/?url=https%3A%2F%2Fmedia.codeclouds.com%2Flarge%2Fsales-thumb.jpg&w=640&q=75" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section -->


