<!-- HERO Section -->
<section class="p-md-5 p-2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="f60 spaceGbold me-md-5 pe-md-4 mb-4">Navigating the digital landscape for success</h1>
                <p class="f20 spaceGnormal mb-4">Our digital marketing agency helps businesses grow and succeed online through a range of services including SEO, PPC, social media marketing, and content creation.</p>
                <button class="btn spaceGnormal cncDarkFont primarydarkbtn f20">Book a consultation</button>
            </div>
            <div class="col-12 col-md-6 text-center d-flex align-items-center">
                <img src="assets/Images/hero_left.png" alt="hero_left" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- HERO Section -->

<!--  -->

