<div class="col-lg-6 ser-card d-flex align-items-center justify-content-between px-5 py-4 mb-5">
    <div class="col-6 text-part">
       <span>
            <h5 class="mb-0">{{serviceCardHead}}</h5>
            <h5 class="mb-0">{{serviceCardHead2}}</h5>
        </span>
        <a [href]="serviceButtonLink"><span><img src="assets/Images/arrow-b.png" alt="" class="img-fluid arrow me-3"></span>
        Learn More</a>
    </div>
    <div class="col-6 d-flex justify-content-center">
        <img [src]="serviceImage" alt="" class="img-fluid">
    </div>
</div>
